In [30]:
import pandas as pd
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [31]:
data = pd.read_csv('../data/scaled_dataset.csv')
data.head()

,age,gender,height,weight,bp_high,bp_lo,cholesterol,gluc,diabetic,smoke,...,cholesterol_2,cholesterol_3,gluc_1,gluc_2,gluc_3,diabetic_1,diabetic_2,diabetic_3,cardio,id
0,0.885714,1.0,0.594828,0.205882,0.235294,0.442857,0.5,0.0,0.0,1.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1,42910
1,1.000000,0.0,0.517241,0.258824,0.529412,0.714286,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1,17437
2,0.571429,0.0,0.663793,0.176471,0.352941,0.428571,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1,49231
3,0.571429,1.0,0.724138,0.382353,0.294118,0.571429,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1,6221
4,0.685714,0.0,0.629310,0.170588,0.235294,0.285714,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0,2934