In [1]:
import pandas as pd
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('../data/cleaned_data.csv')
data.head()

,id,age,gender,height,weight,bp_high,bp_lo,cholesterol,gluc,diabetic,smoke,alco,active,cardio
0,0,50,2,168,62.0,110,80.0,1,1,1,0,0,1,0
1,1,55,1,156,85.0,140,90.0,3,1,3,0,0,1,1
2,2,52,1,165,64.0,130,70.0,3,1,3,0,0,0,1
3,3,48,2,169,82.0,150,100.0,1,1,1,0,0,1,1
4,4,48,1,156,56.0,100,60.0,1,1,1,0,0,0,0

In [3]:
data.dtypes

id               int64
age              int64
gender           int64
height           int64
weight         float64
bp_high          int64
bp_lo          float64
cholesterol      int64
gluc             int64
diabetic         int64
smoke            int64
alco             int64
active           int64
cardio           int64
dtype: object